.DS_Store
.Trashes
.localized

build
.build
xcuserdata
DerivedData

*.perspectivev3
*.pbxuser
*.xccheckout
*.xcuserstate
*.xcscmblueprint
*.moved-aside
*.hmap
*.o
*.hmap
*.ipa
*.dSYM.zip

timeline.xctimeline
playground.xcworkspace

Pods
Packages

.bundle
*.mobileprovision
Gemfile.lock
*.xcuserstate
